.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.contact-details {
    margin: 10px;
    align-items: flex-start;
}

.contact-details h2 {
    text-decoration: underline;
}

.contact-details div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.contact-details h2,
.contact-details h3,
.contact-details p {
    text-align: left;
}

.contact-form {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #fff;
    padding: 20px 16px;
    margin: 10px;
    flex: 1;
}

.contact-form label {
    text-align: left;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.checkbox-text {
    font-size: 16px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

label,
input:not([type="checkbox"]),
textarea {
    display: block;
    margin-bottom: 6px;
    width: 95%;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
}

.button-wrapper {
    display: flex;
    justify-content: flex-end;
}

button {
    background-color: rgba(28, 28, 28, 1);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005baa;
}

@media (max-width: 768px) {

    .contact-details,
    .contact-form {
        width: 100%;
    }
}