.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(28, 28, 28, 1);
    padding: 20px 12px;
}

.content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
}

.content h2,
.content p {
    text-align: left;
}


.products {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    flex: 1;
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
    margin-inline: 8px;
}

.product-card img {
    max-width: 100%;
    max-height: 100%;
}

.product-card p {
    text-align: left;
    padding-left: 10px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .content,
    .products {
        flex: 1;
    }

    .products {
        flex-direction: column;
    }

    .product-card {
        flex: 1;
        margin-bottom: 10px;
    }
}